---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

a {
  text-decoration: none  
}

a:hover {
  color: black;
  background-color: white;
}

a.current-page {
  text-decoration: line-through;
}

a.current-page:hover {
  background-color: none;
}

header h1 {
  font-weight: normal;
}

header h1:before {
  content: '~$ ';
  font-size: 24px;
  color: grey;
}

h1 {
  font-size: 24px;
  margin: 0 0 0 -40px;
}

h1:before {
  content: '~$ ';
  font-size: 24px;
  color: grey;
}

li.active a {
  color: lightgray;
  cursor: default;
}

cd {
  font-size: 10px;
  color: grey;
}
