---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

a {
  text-decoration: none  
}

a:hover {
  color: black;
  background-color: white;
}

header h1 {
  font-weight: normal;
}

header h1:before {
  content: '~$ ';
  font-size: 24px;
  color: grey;
}

h1 {
  font-size: 24px;
  margin: 0 0 0 -40px;
}

h1:before {
  content: '~$ ';
  font-size: 24px;
  color: grey;
}

li.active a {
  color: lightgray;
  cursor: default;
}

cd {
  font-size: 10px;
  color: grey;
}


